@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic);

label.mailLabel {
    float: left;
    width: 100px;
}

.mailInputField {
    border: 0;
    border-bottom: 1px solid #623362;
    width: 400px;
    margin-bottom: 10px;
    font-family: 'Open Sans Condensed', helvetica, arial, sans-serif;
}

.messageArea {
    border: 1px solid #623362;
    width: 400px;
    height: 300px;
    margin-bottom: 10px;
    font-family: 'Open Sans Condensed', helvetica, arial, sans-serif;
}