@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic);

@font-face {
    font-family: 'Satellite';
    src: url('/font/Satellite/Satellite.otf');
}

@font-face {
    font-family: 'GeoSans';
    src: url('/font/geo_sans_light/GeosansLight.ttf');
}

a, a:link, a:visited{
	text-decoration: none;
	color: #3B003B;
}

.tab #index_title a {
	color:#FFFFFF;
}

.activeTab #index_title  a {
	color: #3B003B;
}

li.tab  > a {
	color: #FFFFFF;
}

li.activeTab > a {
	color: #3B003B;
}




body {
  background-color: #FFFFFF;
  font-family: 'Open Sans Condensed', helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

#index_wrapper {
	margin: 0 auto;
    max-width: 1000px;
}

#index_header {
	height: 46px;
	padding: 30px 20px;
	margin-bottom: 30px;
}

#index_title  h1{
	float: left;
	color: #3B003B;
    font-size: 30px;
    font-weight: 600;
    font-style:normal;
    font-family: 'Open Sans Condensed', helvetica, arial, sans-serif;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform:uppercase;
	margin: 0;	
	padding-left: 1%; 
}

div.toolbar {
	height: 60px;
	max-width: 1000px;
	/*background-color: #3B003B;*/
	font-family: 'Open Sans Condensed', helvetica, arial, sans-serif;
	font-size: 18px;
	font-weight: 500;
	margin-left: auto;
	margin-right: auto;
    padding-bottom: 10%;
}

.tab{
  float:right;
  height:60px;
  width:25%;
  padding-top:20px;
  box-sizing:border-box;
  background:#3B003B;  
  color: #FFFFFF;
  text-align:center;
  cursor:pointer;
  transition:background .4s;
}


.tab:hover{  
  background-color: #623362;
  color: #FFFFFF;
}

.activeTab{
  background:#FFFFFF;
  color: #3B003B;
}

.toolbar ul {
	margin: 0;
	padding: 0;
}

ol, ul, li {list-style:none}

div.toolbar li:first-child {
	float:left;
	width: 25%;
	padding-top: 10px;
}

div.table {
  display: block;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 5%;
}

div.table-title {
  display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 130%;
}

.table-title h3 {
   color: #3B003B;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: 'Open Sans Condensed', helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  margin: auto;
  max-width: 1000px;
  padding:5px;
  width: 130%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  animation: float 5s infinite;
}

#phoneTable {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    margin-left: 3%;
    width: 420px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin-bottom:3%;
    animation: float 5s infinite;
}

#attachmentTable {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    width: 420px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    margin-bottom:3%;
    margin-left: 3%;
    animation: float 5s infinite;
    z-index: -5;

}



hr {
	border-color: #3B003B;
    max-width: 400px;
    margin-left: 0;
	opacity: 0.7;
}
 
th {
  color:#D5DDE5;;
  background:#3B003B;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr.selected {
	background:#623362;
}
 
tr:hover td {
  background:#623362;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#623362;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:20px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

tr.selected td {
	background: #623362;
	color:#FFFFFF;
}

td:last-child {
  border-right: 0px;
}

th.smallFont{
    font-size:16px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.ident {
    display: none;
}

td.smallFont{
    font-size: 16px;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}
